<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper-secondary">Contact Us</span>
            <h2 class="cs-title">Get Started Today</h2>
            <p class="cs-text">
                At Hybrid Roofing and Renovations, we take pride in being a trusted partner for all your residential and commercial roofing and siding installation needs.
            </p>
            <a href="" class="cs-button-solid">Request A Quote</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="../../assets/images/phillyskyline1440crop.webp">
        <source media="(min-width: 601px)" srcset="../../assets/images/phillyskyline1440crop.webp">
        <img loading="lazy" decoding="async" src="../../assets/images/phillyskyline1440crop.webp" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                