<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1294">
    <div class="cs-container">                
        <div class="cs-wrapper">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="../../assets/svgs/hybrid-logo-white.svg" alt="logo" width="240" height="32">
                </a>
                <a href="mailto:{{client.email}}" class="cs-link">
                    <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/thick-mail.svg" alt="icon" width="24" height="24">
                    {{client.email}}
                </a>
            </div>
            <!-- Links -->
             <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">About</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/about">About Us</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/blog">Blog</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Services</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/repair-replacement">Repair & Replacement</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/roof-decks">Roof Decks</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/siding-stucco">Siding & Stucco</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/commercial">Commercial Roofing</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Socials</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="https://www.facebook.com/HybridRoofingPhila/" target="_blank" rel="noopener noreferrer">Facebook</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="https://www.instagram.com/hybridroofingphila/" target="_blank" rel="noopener noreferrer">Instagram</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright© 2025. 
            <a class="cs-copyright-link" href="https://callowhillwebdesigns.com/" target="_blank" rel="noopener">Callowhill Web Designs.</a>
            All Rights Reserved.
        </span>
        <a href="/terms" class="cs-copyright-link">Terms of Service</a>
        <a href="/privacy" class="cs-copyright-link">Privacy Policy</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater-wrapper">
        <div class="cs-floater" aria-hidden="true"></div>
    </div>
</footer>
                                