---
title: 'About | Hybrid Roofing PA'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/shingles.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/shingles.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/shingles.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/nailer.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/nailer.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/nailer.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/hybridtruck.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hybridtruck.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/hybridtruck.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">About Hybrid Roofing</h2>
                <p class="cs-text">
                    Welcome to Hybrid Roofing and Siding, your trusted partner for premium roofing and siding solutions in the vibrant city of Philadelphia. We take pride in being the go-to choice for homeowners and businesses seeking top-notch craftsmanship, exceptional service, and unmatched expertise in the roofing and siding industry.
                </p>
                <p class="cs-text">
                    At Hybrid Roofing and Siding, we understand that your home or business is one of your most significant investments. That's why we are dedicated to delivering superior roofing and siding services that enhance not only the aesthetics but also the functionality and durability of your property.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        We approach each project with the aim to not only meet but exceed our clients' expectations. By focusing on long-lasting results, we’ve forged lasting relationships with our clients, built on a foundation of trust and respect.
                    </p>
                    <span class="cs-name">Donta Negron</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/contact" class="cs-button-solid">Request a Quote</a>
            </div>
        </div>
    </section>

    {% include "components/cta.html" %}

{% endblock %}