---
title: 'Commercial Roofing | Hybrid Roofing PA'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'commercial/'
eleventyNavigation:
    key: Commercial Roofing
    order: 3400
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Commercial Roofing</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/shingles.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/shingles.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/shingles.webp" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side by Side                 -->
    <!-- ============================================ -->

    <section id="sbs-2316">
        <div class="cs-container">
            <div class="cs-content cs-content1">
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg" alt="people" width="608" height="406">
                </picture>
                <div class="cs-wrapper cs-wrapper1">
                    <span class="cs-topper">Commerical Roofing</span>
                    <h2 class="cs-title">Protect Your Business</h2>
                    <p class="cs-text">
                        Hybrid Roofing and Renovations will keep the water out of your place of business with all kinds of roofing services. We have over 10 years of experience protecting buildings from rain, snow, sleet, and hail. Contact us for a FREE estimate today.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li"><strong>Repair:</strong> Quality repair services to extend the life of your business roof.</li>
                        <li class="cs-li"><strong>Installation:</strong> Professional installation services to ensure your roof is built to last.</li>
                        <li class="cs-li"><strong>New Construction:</strong> Top-tier roofing services for new commercial buildings.</li>
                        <li class="cs-li"><strong>Inspections:</strong> Comprehensive inspections to ensure your roof's integrity and longevity.</li>
                    </ul>
                </div>
            </div>
            <div class="cs-content cs-content2">
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction4.jpg" alt="people" width="608" height="406">
                </picture>
                <div class="cs-wrapper cs-wrapper2">
                    <p class="cs-text">
                        We help business all over Pennsylvania with their roofing needs. Our team of expert craftsmen will work with you to find the best solution for your business.
                    </p>
                    <a class="cs-button-solid" href="/contact">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
                                    
    {% include "components/cta.html" %}

{% endblock %}