---
title: 'Contact | Hybrid Roofing PA'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 700
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/shingles.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/shingles.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/shingles.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>
                                
    <!-- ============================================ -->
    <!--                   Contact                    -->
    <!-- ============================================ -->

    <section id="contact-1601">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Contact Us</span>
                <h2 class="cs-title">Get A Free Quote</h2>
                <!--Form-->
                <form class="cs-form" id="cs-form-1601" name="Contact Form" method="post" data-netlify="true" data-netlify-recaptcha="true">
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-1601" name="name" placeholder="Name">
                    </label>
                    <div class="cs-contact-row">
                        <label class="cs-label cs-email">
                            Email
                            <input class="cs-input" required type="email" id="email-1601" name="email" placeholder="Email">
                        </label>
                        <label class="cs-label cs-phone">
                            Phone
                            <input class="cs-input" required type="phone" id="phone-1601" name="phone" placeholder="Phone">
                        </label>
                    </div>
                    <label class="cs-label cs-address">
                        Service Address
                        <input class="cs-input" required type="text" id="address-1601" name="address" placeholder="Enter your service address" autocomplete="street-address">
                    </label>
                    <div class="cs-address-row">
                        <label class="cs-label cs-city">
                            City
                            <input class="cs-input" required type="text" id="city-1601" name="city" placeholder="City" autocomplete="address-level2">
                        </label>
                        <label class="cs-label cs-state">
                            State
                            <input class="cs-input" required type="text" id="state-1601" name="state" placeholder="State" autocomplete="address-level1">
                        </label>
                        <label class="cs-label cs-zip">
                            ZIP Code
                            <input class="cs-input" required type="text" id="zip-1601" name="zip" placeholder="ZIP" autocomplete="postal-code">
                        </label>
                    </div>
                    <label class="cs-label">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-1601" placeholder="Write message..."></textarea>
                    </label>
                    <div data-netlify-recaptcha="true"></div>
                    <button class="cs-button-solid cs-submit" type="submit">Submit Now</button>
                </form>
            </div>
            <div class="cs-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-header">Call Us</span>
                        <p class="cs-item-text">
                            We are available to answer your questions day or night.<br>
                            <a class="cs-link" href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>                    
                        </p>
                    </li>
                    <li class="cs-item">
                        <span class="cs-header">Email Us</span>
                        <p class="cs-item-text">
                            Please email your questions to
                            <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>     
                        </p>
                    </li>
                    <li class="cs-item">
                        <span class="cs-header">Reviews</span>
                        <p class="cs-item-text">
                            See what our customers say
                            <a href="https://g.co/kgs/eum28nu" target="_blank" rel="noopener noreferrer" class="cs-link">
                                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/google-1a.svg" alt="icon" loading="lazy" decoding="async" width="16" height="16" aria-hidden="true">
                                4.9/5 Stars Based On 72 Reviews
                            </a>                   
                        </p>
                    </li>
                </ul>
                <picture class="cs-background">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/finishedroof1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/finishedroof1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/finishedroof1.webp" alt="people" width="522" height="771">
                </picture>
            </div>
        </div>
    </section>
                                    
{% endblock %}