/*-- -------------------------- -->
<!--        Side by Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2316 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 10vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
            /* 48px - 72px */
            gap: clamp(3rem, 7vw, 4.5rem);
        }

        .cs-content2 {
            /* 20px - 72px */
            gap: clamp(1.25rem, 7vw, 4.5rem);
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }

        .cs-ul {
            margin: (16/16rem) 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            color: var(--bodyTextColor);

            &:before {
                /* bullet */
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin: 0 (12/16rem) (2/16rem) (2/16rem);
                background: var(--secondary);
                display: inline-block;
                transform: rotate(45deg);
            }
        }

        .cs-button-box {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (32/16rem);
            row-gap: (16/16rem);
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
        }

        .cs-icon-wrapper {
            width: (60/16rem);
            height: (60/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: transform 0.3s;
            /* prevents flexbox from squishing it */
            flex: none;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--primary);
                opacity: 0.05;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-link-content {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.2em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-phone {
            font-size: (25/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-img {
            width: (60/16rem);
            height: auto;
        }

        .cs-signature {
            width: auto;
            height: (36/16rem);
            /* centers the signature while everything else remains aligned to the left */
            margin: 0 auto;
            display: block;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: center;
            margin-top: (6/16rem);
            padding-top: (4/16rem);
            color: var(--bodyTextColor);
            border-top: 1px solid #e7e7e8;
        }

        .cs-button-solid {
            margin: (32/16rem) 0 0;
        }

        .cs-picture {
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: 100%;
            /* 280px - 400px */
            height: clamp(17.5rem, 55vw, 25rem);
        }

        .cs-picture2 {
            width: 100%;
            height: (280/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2316 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }

        .cs-content2 {
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .cs-wrapper {
            width: 100%;
            max-width: (795/16rem);
        }

        .cs-wrapper2 {
            max-width: (413/16rem);
            padding-bottom: (120/16rem);
        }

        .cs-picture1 {
            max-width: (412/16rem);
            height: auto;
        }

        .cs-picture2 {
            width: 64vw;
            max-width: (795/16rem);
            height: auto;
            flex: none;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-2316 {
        .cs-wrapper {
            padding-right: (72/16rem);
        }
    }
}
                                
/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2326 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 4vw, 4rem);
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                margin-bottom: (24/16rem);
            }
        }

        .cs-h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-ul {
            margin: (12/16rem) 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            strong {
                color: var(--headerColor);
            }

            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }

        .cs-button-box {
            font-size: inherit;
            width: 100%;
            max-width: (630/16rem);
            /* 48px - 64px */
            margin: clamp(3rem, 6.5vw, 4rem) 0 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (24/16rem);
        }

        .cs-link {
            /* using ems for font size and wrapper values so we can scale them with a font size at desktop */
            text-decoration: none;
            padding-right: (30/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
    
            &:hover {
                &:before {
                    width: 100%;
                    height: (72/16em);
                }
                .cs-wrapper {
                    transform: scale(1.2);
                }
    
                .cs-icon {
                    transform: translateX(0.4375rem);
                }
            }
    
            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: (60/16em);
                height: (60/16em);
                background: var(--primary);
                opacity: .05;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
                    border-radius 0.3s;
            }
        }
    
        .cs-wrapper {
            width: (60/16em);
            height: (60/16em);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }
    
        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }
    
        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }
    
        .cs-header {
            font-size: (16/16em);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    
        .cs-link-content {
            font-size: (25/16em);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
            font-size: ~"min(2.32vw, .9rem)";
            width: (630/16em);
            height: (578/16em);
            display: block;
            position: relative;
            z-index: 1;
            order: -1;
        }

        .cs-picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (412/16em);
            height: (412/16em);
            border-right: (14/16em) solid #fff;
            border-bottom: (14/16em) solid #fff;
            top: 0;
            bottom: (281/16em);
            left: 0;
        }

        .cs-picture2 {
            width: (413/16em);
            height: (352/16em);
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2326 {
        .cs-container {
            max-width: (1280/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2326 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-button-box {
            /* add font size scaling to make the elements smaller so they fit horizontally */
            font-size: ~"min(1.4vw, 1rem)";
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .cs-image-group {
            font-size: ~"min(1.1vw, 1rem)";
            height: auto;
            min-height: (578/16em);
            margin-bottom: (70/16rem);
            order: initial;
            flex: none;
        }

        .cs-picture1 {
            height: auto;
            top: 0;
            bottom: (166/16em);
        }

        .cs-picture2 {
            height: auto;
            top: (226/16em);
        }
    }
}
                                
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2288 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-ul-group {
            width: 100%;
            max-width: (847/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 48px */
            gap: clamp(2rem, 4vw, 3rem);
        }

        .cs-ul {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: (12/16rem);
            row-gap: (8/16rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.25vw, 1rem);
            line-height: 1.5em;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            background-color: #fff9e8;
            color: var(--bodyTextColor);
            display: flex;
            grid-column: span 12;
            align-items: flex-start;
            justify-content: flex-start;
            gap: (12/16rem);
            position: relative;
            flex: 1;

            /* list bullet point */
            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (6/16rem);
                background-color: var(--secondary);
                display: block;
                flex: none;
                transform: rotate(45deg);
            }
        }

        .cs-content {
            /* set text align to center if content needs to be centrally aligned */
            text-align: left;
            width: 100%;
            max-width: (586/16rem);
            display: flex;
            flex-direction: column;
            /* aligns content to the left, set to center to centrally align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-images {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.21vw, .88rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (656/16em);
            height: (758/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (488/16em);
            height: (406/16em);
            top: 0;
            left: 0;
        }

        .cs-picture2 {
            width: (564/16em);
            height: (480/16em);
            border: 12px solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2288 {
        .cs-li {
            grid-column: span 4;
        }

        .cs-images {
            font-size: ~"min(1.85vw, .94rem)";
            width: (623/16em);
            height: (442/16em);
        }

        .cs-picture1 {
            width: (382/16em);
            height: (203/16em);
        }

        .cs-picture2 {
            width: (417/16em);
            height: (303/16em);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2288 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            width: 36vw;
            max-width: (370/16rem);
            padding-bottom: (142/16rem);
        }

        .cs-ul-group {
            width: 100%;
        }

        .cs-images {
            font-size: inherit;
            width: 100%;
            height: 100%;
            min-height: (412/16rem);
        }

        .cs-picture1 {
            width: 61.1316212%;
            height: auto;
            bottom: (239/16rem);
        }

        .cs-picture2 {
            width: 66.934189%;
            height: auto;
            top: (120/16rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-2288 {
        .cs-content {
            padding-right: (52/16rem);
        }

        .cs-picture1 {
            width: (522/16rem);
            bottom: (60/16rem);
        }

        .cs-picture2 {
            width: (391/16rem);
            top: (60/16rem);

        }
    }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2291 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (48/16rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-features {
            width: 100%;
            margin: 0 0 (32/16rem);
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            background-color: #fef5f4;
            border-left: (4/16rem) solid var(--secondary);
        }

        .cs-h3 {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 (12/16rem);
            color: var(--headerColor);
        }

        .cs-ul {
            font-size: (12/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            &::before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                margin-top: (8/16rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }
        
        .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: (626/16rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: (95/16rem);
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-box {
            text-align: left;
            width: 91%;
            max-width: (450/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #fffcf3;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            column-gap: (24/16rem);
            row-gap: (8/16rem);
            position: absolute;
            right: 50%;
            bottom: 0;
            z-index: 10;
            transform: translate(50%);
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0;
            color: var(--General-Secondary, #ffc219);
        }

        .cs-heading {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (8/16rem);
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2291 {
        .cs-box {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2291 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            gap: (20/16rem);
        }

        .cs-content {
            padding-left: (52/16rem);
            padding-bottom: (108/16rem);
        }

        .cs-image-group {
            height: auto;
            min-height: (642/16rem);
            max-height: 100%;
        }

        .cs-picture {
            bottom: (64/16rem);
        }
    }
}
                                